<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Users</title>

    <!-- Custom fonts for this template-->
    <link href="/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Font Icon -->
    <link rel="stylesheet" href="/register/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/register/css/style.css">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <th:block th:include="/admin/fragments/sidebar"></th:block>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <th:block th:include="/admin/fragments/topbar"></th:block>


            <!-- Begin Page Content -->
            <div class="main">

                <!-- Sign up form -->
                <section class="signup">
                    <div class="container">
                        <div class="signup-content">
                            <div class="signup-form">
                                <h2>New Password User</h2>
                                <br>
                                <span style="color: red;" th:if="${error}!=null" th:text="${error}"></span>
                                <br>
                                <form method="POST" action="/admin/newpassword"
                                      class="register-form"
                                      id="edit-form">
                                    <input type="hidden" name="user_id" th:value="${user.getId()}">
                                    <div class="form-group">
                                        <img style="border-radius: 50%; padding-bottom: 5px" width="40px"
                                             th:src="@{|../../../${user.getAvatarUrl()}|}" alt="Url">
                                    </div>
                                    <div class="form-group">
                                        <label for="name"><i
                                                class="zmdi zmdi-account material-icons-name"></i></label>
                                        <input type="text" name="username" id="name"
                                               th:value="${user.getUsername()}"
                                               placeholder="Your Name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                                        <input type="email" name="email" id="email"
                                               th:value="${user.getEmail()}"
                                               placeholder="Your Email"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="pass"><i class="zmdi zmdi-lock-open"></i></label>
                                        <input type="password" name="password" id="pass" placeholder="New Password"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="re_pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                        <input type="password" name="passwordConfirm" id="re_pass"
                                               placeholder="Repeat your new password"/>
                                    </div>
                                    <div class="form-group form-button">
                                        <input type="submit" name="signup" id="signup" class="form-submit"
                                               value="Save"/>
                                    </div>
                                </form>
                            </div>
                            <div class="signup-image">
                                <figure><img src="/register/images/signup-image.jpg" alt="sing up image"></figure>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <th:block th:include="/admin/fragments/footer"></th:block>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<th:block th:include="/admin/fragments/logout-modal"></th:block>

<!-- Bootstrap core JavaScript-->
<script src="/admin/vendor/jquery/jquery.min.js"></script>
<script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/admin/js/sb-admin-2.min.js"></script>

<!-- JS -->
<script src="/register/js/main.js"></script>

</body>

</html>